.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #222;
}

.navbar li {
    padding: 10px 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar a:hover {
    color: #4caf50;
}
