nav {
  position: fixed;  
  top: 0;           
  width: 100%;       
  background-color: #000; 
  z-index: 1000;     
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  padding: 10px 0; 
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-content h1 {
  margin: 0;
  color: #fff;
  font-size: 1.5em; 
  padding-right: 20px;  
}

.navbar-content div {
  display: flex;
  align-items: center;
  font-size: 1em; 
}

.navbar-content a {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;  
  font-weight: bold;
}

.navbar-content a:hover {
  color: #4caf50;
}

h1, .navbar ul {
  margin: 0; 
}