.skills {
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  min-height: 60vh;
}

.skills h2 {
  font-size: 2.5em;
  color: #4caf50;
  margin-bottom: 30px;
}

.skill-category {
  margin-bottom: 20px;
  width: 100%;
}

.skill-category h3 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 15px;
  text-align: center;
}

.skill-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 15px;
  width: 100px;
}

.skill span {
  margin-top: 5px;
}

.skill:hover {
  transform: scale(1.1);
  color: #4caf50;
}

.skill-icon {
  font-size: 3em;
}
